.textHeight {
  max-height: 10rem;
}

.links {
  background-color: rgb(200, 193, 193);
}

.button {
  margin: auto;
  display: flex;
  text-align: center;
}

.image {
  background-color: grey;
  background-image: url('RADish.png');
  background-size: "cover";
  background-repeat: no-repeat;
  margin:auto;
  height: 100%;
  z-index: -1;
}
