.textHeight {
  max-height: 10rem;
}

.links {
  background-color: rgb(200, 193, 193);
}

.button {
  margin: auto;
  display: flex;
  text-align: center;
}

.image {
  background-color: grey;
  background-image: url("https://ctl.s6img.com/society6/img/6nbxCf80YXkgez54W3ZoqUgAs3A/w_700/prints/~artwork/s6-original-art-uploads/society6/uploads/misc/a9e654feb6af42ad86c441a237d3463d/~~/radish-cute-veggie-pun-prints.jpg");
  background-size: "cover";
  background-repeat: no-repeat;
  margin:auto;
  height: 100%;
  z-index: -1;
}
